body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh; /* use relative units vw & vh, based on percentage of the screen */
    background-color: green;
    position: relative;
}

#player {
    background-color: fuchsia;
    position: absolute;
    bottom: 0;
}

.obstacle {
    background-color: orange;
    position: absolute;
}